.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.resizeContainer {
    position: absolute;
    cursor: col-resize;
    width: 20px;
    height: 100%;
    transform: translateX(-50%);
}