.editorContainer {
    flex-grow: 1;
}

.noFileOpenMessage {
    color: gray;
    font-size: 2rem;
    font-style: italic;
}

.tabsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabBody {
    flex-grow: 1;
    background-color: rgb(39, 40, 34);
}

.tabControl {
    padding-right: 0.5rem;
    padding-left: 0.75rem;
}