.file {
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgb(222, 226, 230);
    padding: 1rem 0.75rem;
    cursor: pointer;
}

.file:first-child {
    border-top: 1px solid rgb(222, 226, 230);
}

.file:last-child {
    border-bottom: none;
}

.file:hover {
    background-color: #f8f9fa;
}

.unsupportedFile {
    color: rgb(222, 226, 230);
    cursor: initial;
}

.unsupportedFile:hover {
    background-color: initial;
}