.file {
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0 0.5rem 1.65rem;
    cursor: pointer;
    font-size: 0.75rem;
}

.file:hover {
    background-color: #f8f9fa;
}

.unsupportedFile {
    color: rgb(222, 226, 230);
    cursor: initial;
}

.unsupportedFile:hover {
    background-color: initial;
}