.filetree {
    overflow: auto;
    user-select: none;
}

.contentInner {
    padding: 0;
    word-break: keep-all;
}

.content {
    padding-left: 1rem;
    word-break: keep-all;
}

.item {
    border: none;
}

.button {
    padding: 0.5rem 0;
}

.label {
    font-size: 0.75rem;
}

.dropdownIcon {
    margin-right: 0;
}