.filetree {
    overflow: auto;
    user-select: none;
    border-right: 1px solid black;
}

.contentInner {
    padding: 0;
    word-break: keep-all;
}

.content {
    padding-left: 1rem;
    word-break: keep-all;
}

.item {
    border: none;
}

.button {
    padding: 0.5rem 0;
}

.dropdownIcon {
    margin-right: 0;
}