.noProjectOpenContainer {
    height: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.openButton {
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 2rem;
    cursor: pointer;
}

.openButton:hover {
    background-color: #f1f1f1;
}

.recentProject {
    width: 100%;
    border-top: 1px solid black;
    padding: 1rem
}

.recentProject:last-of-type {
    border-bottom: 1px solid black;
}

.recentProject:hover {
    background-color: #e0e0e0;
}