.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.filetreeEditorContainer {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    min-height: 0;
}

.resizeContainer {
    position: absolute;
    cursor: col-resize;
    width: 10px;
    transform: translateX(-50%);
}