<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Telltale Script Editor</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bstreeview.css" rel="stylesheet" />
    <link href="css/ttse/editor.css" rel="stylesheet" />
    <link href="css/fa.all.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="ttse-sidebar bg-dark">
                <div class="ttse-sidebar container">
                    <div id="tree"></div>
                </div>
            </div>
            <div class="col py-3">
                <h3>Main Window</h3>
                <p class="lead">
                    Main Window
                </p>
            </div>
        </div>
    </div>
  </body>
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/popper.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/bstreeview.js" type="text/javascript"></script>
  <script src="js/ttse/window.js" type="text/javascript"></script>
</html>