.text {
    white-space: nowrap;
    user-select: none;
    padding: 0.5rem 0;
    font-size: 0.75rem;
}

.selected {
    background-color: #f0f0f0;
}

.icon {
    margin-right: 3px;
}

.unsupported {
    color: #c2c2c2;
}